In [1]:
print("Hello, Python Full Stack Sudents!")

Hello, Python Full Stack Sudents!

In [2]:
print("my Name is Syed Ayyaz Ur Rahman")

my Name is Syed Ayyaz Ur Rahman

In [3]:
name ="Ayyaz"
age=19
gpa=8.5
is_student=True
print(name,age,gpa,is_student)

Ayyaz 19 8.5 True

In [5]:
x=10
y=3.14
z="Python"
flag=False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [7]:
print("name=Ayyaz,college=Avinash,fav prog lang=Python")

name=Ayyaz,college=Avinash,fav prog lang=Python

In [8]:
birth_year=2005
current_year=2025
print(current_year-birth_year)

20

In [9]:
a=10
b=20
print(a>b)#false
print(a==10)#true
print(a<b) and (b==20)#true

False
True
True

In [4]:
#lists(ordered,mutable)

fruits=["Apple","Mango","Banana"]
fruits.append("Orange")
print(fruits)
print(fruits[2])

['Apple', 'Mango', 'Banana', 'Orange']
Banana

In [5]:
#lists(ordered,mutable)

fruits=["Apple","Mango","Banana"]
fruits.append("Orange")
fruits.remove("Mango")
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Orange']

In [8]:
#Tuples(ordered,immutable)
colors=("red","green","blue")
print(colors[0])
#colors[1]="yellow"(cannot modify tuple)

red

In [9]:
#Sets(unordered,Unique)
numbers={1,2,3,4}
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

In [11]:
#Dictioneries
student={
    "name": "Suhel",
    "age":"19",
    "course":"Full Stack Python"}
print(student["age"])
student["name"]="Ayaz"
print(student)

19
{'name': 'Ayaz', 'age': '19', 'course': 'Full Stack Python'}

In [12]:
student["college"]="Avinash College"
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'course', 'college'])
dict_values(['Ayaz', '19', 'Full Stack Python', 'Avinash College'])

In [15]:
#Conditional Statements
marks=75
if marks>=90:
    print("Grade: A")
elif marks>=75:
    print("Grade: B")
elif marks>=50:
    print("Grade: C")
else:
    print("Grade: Fail")

Grade: B

In [17]:
#Loops
#for loop
for i in range(1,10):
    print("Number:",i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9

In [19]:
#while loops
count=1
while count<=5:
    print("Count:",count)
    count+=1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [20]:
#break & continue
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4